@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}
:root {
  --white-color: #fff;
  --text-color: #000;
  --gray-color: #808080;
  --light-gray-color: #d7d7d7;
}
html,body{
  overflow-x: hidden;
}

section {
  width: 100%;
  padding: 50px 15px;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: 100%;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}
hr {
  color: var(--light-gray-color);
  opacity: 0.2;
}
#preloader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
#preloader img{
  width: 250px;
  height: 200px;
  border-radius: 10px;
}
.banner {
  position: relative;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: 100dvh;
  overflow-x: hidden;
}
video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.controls {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 2;
}

button {
  color: white;
  border: none;
  opacity: 0.5;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.2px);
  -webkit-backdrop-filter: blur(2.2px);
  transition: 0.3s all ease-in-out;
}

button:hover {
  background: rgba(0, 0, 0, 0.616);
  opacity: 1;
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.829) 5%, transparent 100%);
}
.bannerVideo {
  width: 100%;
  position: absolute;
  bottom: 7%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bannervideo_content {
  width: 100%;
  
}
.movieTitle {
  h1 {
    -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.7); 
    -webkit-text-fill-color: transparent;
    font-size: 3.5rem;
    font-weight: 900;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
  }
  p {
    color: var(--light-gray-color);
    font-size: 0.9rem;
    font-weight: 400;
  }
}
.posterImg {
  width: 180px;
  height: 250px;
  border-radius: 5px;
  overflow: hidden;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.discription {
  max-width: 850px;
  h4 {
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: 600;
  }
  p {
    color: rgba(255, 255, 255, 0.432);
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 2rem;
    line-height: 1.5rem;
    &:last-child {
      margin-top: 1.6rem;
    }
  }
}
.posterBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: row;
  margin-top: 20px;
}
.ratebox {
  width: 115px;
  height: 115px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 6px 6px 10px -1px rgb(0, 0, 0), -6px -6px 10px -1px rgba(255, 255, 255, 0.048);
}
.outer {
  width: 115px;
  height: 115px;
  padding: 15px;
  border-radius: 50%;
  box-shadow: 6px 6px 10px -1px rgb(0, 0, 0),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.048);
}
.inner {
  height: 85px;
  width: 85px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.199),
    -0.5px -0.5px 0px rgba(255, 255, 255, 0.205),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.027),
    0px 5px 5px -10px rgba(0, 0, 0, 0.267);
}
#rateNum {
  font-size: 1rem;
  font-weight: 700;
  color: #d7d7d7;
  z-index:555;

}
circle {
  fill: none;
  stroke: #000000;
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  filter: blur(10px);
  filter: blur(20px);

  animation: rate 2s linear forwards;
}
@keyframes rate {
  100% {
    stroke-dashoffset: 100.25;
  }
}
svg {
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(5px);
}
.tittle{
  text-align: center;
  h2{
    
    -webkit-text-stroke: 0.5px rgb(255, 255, 255); 
    -webkit-text-fill-color: transparent;
    font-size: 3.5rem;
    font-weight: 900;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    z-index: -555;
  }
}


.gallery{
  width: 100%;
  height: auto;
 position: relative;
  background-image: url("images/bg5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  padding: 80px 0;
  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    z-index: -1;
    background: rgba(0, 0, 0, 0.596);
  }
}
.galleryBox{
  padding: 20px;
  width: 100%;
background: #ffffff13;
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.1px);
-webkit-backdrop-filter: blur(4.1px);
columns: 300px 4; 
column-gap: 1rem;
  img{
    display: block;
    margin-bottom: 1rem;
    object-fit: cover;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
    filter: brightness(0.8);
  }
  img:hover{
    transform: scale(0.99);
    filter: brightness(1.2);
  }
}
.detailsBox{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  
}
.left{
  margin-left: calc(-50vw + 50%);
}
.right{
  margin-right: calc(-50vw + 50%);
}
.details{
  background: url("images/bg2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  padding: 80px 0 250px 0;
  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    z-index: -1;
    background: rgba(0, 0, 0, 0.596);
  }
}
.left,
.right {
  display: flex;
  max-width: 600px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 0 20px;
  width: 100%;
  height: auto;
  background: rgba(255, 255, 255, 0.021);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(4.1px);
  & img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
    filter: brightness(0.8);
  }
  p{
    font-size: min(1rem, 12px);
    font-weight: 400;
    color: #ffffff38;
    max-width: 400px;
  }

}
.mybox{
 width: 220px;
  height: 250px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: url("images/hug.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.mybox::before{
  content: "Taki Tachibana";
  position: absolute;
  top: 100px;
  left: -60px;
  z-index: -1;
  font-size: .9rem;
  color: rgba(255, 255, 255, 0.575);
  padding: 5px 20px 5px 10px;
  border: 1px solid rgba(255, 255, 255, 0.527);
  border-radius: 15px;
  font-style: italic;
}
.mybox::after{
  font-style: italic;
  content: "Mitsuha Miyamizu";
  position: absolute;
  top: 130px;
  right:  -70px;
  z-index: -1;
  font-size: .9rem;
  color: rgba(255, 255, 255, 0.575);
  padding: 5px 10px 5px 20px;
  border: 1px solid rgba(255, 255, 255, 0.527);
  border-radius: 15px;
}

.tittle p{
  max-width: 970px;
  margin: auto;
  font-size: clamp(10px, 3.5rem, 20px);
  font-weight: 400;
  color: #ffffff3a;
}
.review{
  width: 100%;
  height: 100vh;
  height: 100dvh;
  background: url("images/bg5.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  padding: 40px   10px 100px 10px;
  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    z-index: -1;
    background: rgba(0, 0, 0, 0.329);
  }
}
.review .tittle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

@media screen and (max-width: 768px) {
  .movieTitle {
    h1 {

      font-size: 2.5rem;
      font-weight: 900;
      text-transform: uppercase;
    }
    p {
      color: var(--light-gray-color);
      font-size: 0.7rem;
      font-weight: 400;
    }
  }
  .posterImg {
    display: none;
    

  }
  .discription {
    h4 {
      color: var(--white-color);
      font-size: 1.5rem;
      font-weight: 600;
    }
    p {
      display: none;
      &:last-child {
        display: block;
        margin-top: 1.6rem;
        text-align: center;
      }
    }
  }
  .ratebox {
    display: none;
  }
  
  
}
@media screen and (min-width: 769px) and (max-width: 1210px) {
  .movieTitle {
    h1 {

      font-size: 2.5rem;
      font-weight: 900;
      text-transform: uppercase;
    }
    p {
      color: var(--light-gray-color);
      font-size: 0.7rem;
      font-weight: 400;
    }
  }
  .posterImg {
    display: block;
    

  }
  .discription {
    max-width: 500px;
    h4 {
      color: var(--white-color);
      font-size: 1.5rem;
      font-weight: 600;
    }
    p {
      display: block;
      &:last-child {
        display: block;
        margin-top: 1.6rem;
        text-align: center;
      }
    }
  }
  .ratebox {
    display: none;
  }
  

}